.container {
    width: 100%; /* Adjust width as needed */
   /* Optional: Limit maximum width */
    padding: 20px; /* Optional: Add padding */
    justify-content: center;
    align-items: center;
    display: flex;
  }

.intro-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #2b2d42; /* Black background */
   
    /* Ensure padding is included in width and height calculations */
}
.popup-content {
  display: flex;
  align-items: flex-start; /* Align items to the top */
}
.greeting-image {
  width: 250px; /* Further reduce image size */
}
.greeting-image-2{
  width: 230px;
}

.speech-bubble-container {
  margin-right: -100px; /* Space between the speech bubble and the image */
  margin-top: 0;  /* Adjust this value to raise the speech bubble higher */
}
.speech-bubble-text{
  font-size: small;
}

@media (max-width: 1075px) {
    .greeting-image {
      width: 200px;
    }
    .greeting-image-2{
      width: 200px;
    }
}
@media (max-width: 450px) {
  .speech-bubble-text{
    font-size: x-small;
  }
    .greeting-image {
      width: 140px;
      margin-top: 80px;
    }
    .greeting-image-2{
      width: 130px;
      margin-top: 80px;
    }
 
}



[speech-bubble], [speech-bubble] * { box-sizing: border-box }

[speech-bubble]{
  --bbColor: rgb(255, 255, 255);
  --bbArrowSize: 1.5rem;
  --bbBorderRadius: 0.25rem;
  --bbPadding: 1rem;
  background: var(--bbColor);
  border-radius: var(--bbBorderRadius);
  padding: var(--bbPadding);
  position: relative;
  width: 300px;
}

[speech-bubble]::before{
  content: ''; 
  position: absolute;
  background: var(--bbColor);
}

[speech-bubble][pbottom]{ margin-bottom: var(--bbArrowSize) }
[speech-bubble][ptop]   { margin-top: var(--bbArrowSize); }
[speech-bubble][pleft]  { margin-left: var(--bbArrowSize); }
[speech-bubble][pright] { margin-right: var(--bbArrowSize); }


/* bottom and top  */
[speech-bubble][pbottom]::before,
[speech-bubble][ptop]::before{
  --width: calc(var(--bbArrowSize) / 2 * 3);
  height: var(--bbArrowSize);
  width: var(--width);
}

/* bottom */
[speech-bubble][pbottom]::before{
  top: calc(100% - 2px);
}
[speech-bubble][pbottom][aleft]::before{
  left: 1rem;
  clip-path: polygon(25% 0, 100% 0, 0% 100%)
}
[speech-bubble][pbottom][acenter]::before{
  left: calc(50% - var(--width) / 2);
  clip-path: polygon(12.5% 0, 87.5% 0, 50% 100%)
}
[speech-bubble][pbottom][aright]::before{
  right: 1rem;
  clip-path: polygon(0 0, 75% 0, 100% 100%)
}

/* top */
[speech-bubble][ptop]::before{
  bottom: calc(100% - 2px);
}
[speech-bubble][ptop][aleft]::before{
  left: var(--bbPadding);
  clip-path: polygon(0 0, 100% 100%, 25% 100%)
}
[speech-bubble][ptop][acenter]::before{
  left: calc(50% - var(--width) / 2);
  clip-path: polygon(12.5% 100%, 50% 0, 87.5% 100%)
}
[speech-bubble][ptop][aright]::before{
  right: var(--bbPadding);
  clip-path: polygon(0 100%, 100% 0, 75% 100%)
}

/* left and right  */
[speech-bubble][pleft]::before,
[speech-bubble][pright]::before{
  --height: calc(var(--bbArrowSize) / 2 * 3);
  width: var(--bbArrowSize);
  height: var(--height);
}

/* right */
[speech-bubble][pright]::before{
  left: calc(100% - 2px);
}
[speech-bubble][pright][atop]::before{
  top: var(--bbPadding);
  clip-path: polygon(100% 0, 0 100%, 0 25%)
}
[speech-bubble][pright][acenter]::before{
  top: calc(50% - var(--height) / 2);
  clip-path: polygon(0 12.5%, 100% 50%, 0 87.5%)
}
[speech-bubble][pright][abottom]::before{
  bottom: var(--bbPadding);
  clip-path: polygon(0 0, 100% 100%, 0 75%)
}

/* left */
[speech-bubble][pleft]::before{
  right: calc(100% - 2px);
}
[speech-bubble][pleft][atop]::before{
  top: var(--bbPadding);
  clip-path: polygon(0 0, 100% 25%, 100% 100%)
}
[speech-bubble][pleft][acenter]::before{
  top: calc(50% - var(--height) / 2);
  clip-path: polygon(0 50%, 100% 12.5%, 100% 87.5%);
}
[speech-bubble][pleft][abottom]::before{
  bottom: var(--bbPadding);
  clip-path: polygon(0 100%, 100% 0, 100% 75%)
}

/* flip */
[speech-bubble][pbottom][flip]::before,
[speech-bubble][ptop][flip]::before{
  transform: scaleX(-1)
}
[speech-bubble][pleft][flip]::before,
[speech-bubble][pright][flip]::before{
  transform: scaleY(-1)
}





.middle{
  grid-area: cc;
  align-self: center;
  justify-self: center;
  text-align:center;
  color: white;
}

[speech-bubble][pbottom][aleft]   {grid-area: bl}
[speech-bubble][pbottom][acenter] {grid-area: bc}
[speech-bubble][pbottom][aright]  {grid-area: br}

[speech-bubble][pright][atop]     {grid-area: rt}
[speech-bubble][pright][acenter]  {grid-area: rc}
[speech-bubble][pright][abottom]  {grid-area: rb}

[speech-bubble][pleft][atop]      {grid-area: lt}
[speech-bubble][pleft][acenter]   {grid-area: lc}
[speech-bubble][pleft][abottom]   {grid-area: lb}

[speech-bubble][ptop][aleft]      {grid-area: tl}
[speech-bubble][ptop][acenter]    {grid-area: tc}
[speech-bubble][ptop][aright]     {grid-area: tr}

[speech-bubble][pbottom],
[speech-bubble][ptop]{margin: 0}

[speech-bubble]{ 
  filter: drop-shadow(0px 0px 0.2rem black);
  transition: transform 0.25s ease
}
[speech-bubble]:hover{
  transform: scale(1.05);
  filter: 
    drop-shadow(0px 0px 0.2rem black)
    drop-shadow(0px 0px 1rem var(--bbColor));
}

[speech-bubble] .title{
  font-weight: 400;
  color: rgb(0, 0, 0); 

  margin-bottom: 0.5rem
}
[speech-bubble] code {
  background: white;
  margin: 0.125rem;
  box-shadow: 0px 0px 5px rgba(0,0,0,.5);
  white-space: nowrap;
  font-size: .9rem
}

.middle code{
  font-size: 1rem;
}

body {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    background-color: #0c0f15;
    overflow-x:hidden;
    color: #ababab; }
  
  ::-webkit-scrollbar {
      width: 10px;
      background-color: #F5F5F5;
    
  }
  
  ::-webkit-scrollbar-thumb {
      background-color: #f90a23;
      background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  }
  
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
  }
  
  .heading-page
  {
        text-transform: uppercase;
      font-size: 43px;
      font-weight: bolder;
      letter-spacing: 3px;
      color: white;
  }
  a {
    color: inherit;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    a:hover, a:focus {
      color: #ababab;
      text-decoration: none;
      outline: 0 none; }
  
  h1, h2, h3,
  h4, h5, h6 {
    color: #1e2530;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    line-height: 1.3; }
  
  p {
    margin-bottom: 20px; }
    p:last-child {
      margin-bottom: 0; }
  
  /*
   * Selection color
   */
  ::-moz-selection {
    background-color: #FA6862;
    color: #fff; }
  
  ::selection {
    background-color: #FA6862;
    color: #fff; }
  
  /*
   *  Reset bootstrap's default style
   */
  .form-control::-webkit-input-placeholder,
  ::-webkit-input-placeholder {
    opacity: 1;
    color: inherit; }
  
  .form-control:-moz-placeholder,
  :-moz-placeholder {
    /* Firefox 18- */
    opacity: 1;
    color: inherit; }
  
  .form-control::-moz-placeholder,
  ::-moz-placeholder {
    /* Firefox 19+ */
    opacity: 1;
    color: inherit; }
  
  .form-control:-ms-input-placeholder,
  :-ms-input-placeholder {
    opacity: 1;
    color: inherit; }
  
  button, input, select,
  textarea, label {
    font-weight: 400; }
  
  .btn {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .btn:hover, .btn:focus, .btn:active:focus {
      outline: 0 none; }
  
  .btn-primary {
    background-color: #FA6862;
    border: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    height: 48px;
    line-height: 50px;
    padding: 0 42px;
    text-transform: uppercase; }
    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus {
      background-color: #f9423a; }
  
  .btn-border {
    border: 1px solid #d7d8db;
    display: inline-block;
    padding: 7px; }
  
  /*
   *  CSS Helper Class
   */
  .clear:before, .clear:after {
    content: " ";
    display: table; }
  
  .clear:after {
    clear: both; }
  
  .pt-table {
    display: table;
    width: 100%;
    height: -webkit-calc(100vh - 4px);
    height: -moz-calc(100vh - 4px);
    height: calc(100vh - 4px); }
  
  .pt-tablecell {
    display: table-cell;
    vertical-align: middle; }
  
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  
  .relative {
    position: relative; }
  
  .primary,
  .link:hover {
    color: #FA6862; }
  
  .no-gutter {
    margin-left: 0;
    margin-right: 0; }
    .no-gutter > [class^="col-"] {
      padding-left: 0;
      padding-right: 0; }
  
  .flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
  
  .flex-middle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
  
  .space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
  
  .nicescroll-cursors {
    background: #FA6862 !important; }
  
  .preloader {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .preloader.active.hidden {
      display: none; }
  
  .loading-mask {
    background-color: #FA6862;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 20%;
    -webkit-transition: all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s;
    -moz-transition: all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s;
    -o-transition: all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s;
    transition: all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s; }
    .loading-mask:nth-child(2) {
      left: 20%;
      -webkit-transition-delay: 0.1s;
      -moz-transition-delay: 0.1s;
      -o-transition-delay: 0.1s;
      transition-delay: 0.1s; }
    .loading-mask:nth-child(3) {
      left: 40%;
      -webkit-transition-delay: 0.2s;
      -moz-transition-delay: 0.2s;
      -o-transition-delay: 0.2s;
      transition-delay: 0.2s; }
    .loading-mask:nth-child(4) {
      left: 60%;
      -webkit-transition-delay: 0.3s;
      -moz-transition-delay: 0.3s;
      -o-transition-delay: 0.3s;
      transition-delay: 0.3s; }
    .loading-mask:nth-child(5) {
      left: 80%;
      -webkit-transition-delay: 0.4s;
      -moz-transition-delay: 0.4s;
      -o-transition-delay: 0.4s;
      transition-delay: 0.4s; }
  
  .preloader.active.done {
    z-index: 0; }
  
  .preloader.active .loading-mask {
    width: 0; }
  
  
  /* End of container */
  .hexagon-item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 200px;
    height: 173.20508px;
    float: left;
    margin-left: -29px;
    z-index: 0;
    position: relative;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg); }
    .hexagon-item:first-child {
      margin-left: 0; }
    .hexagon-item:hover {
      z-index: 1; }
      .hexagon-item:hover .hex-item:last-child {
        opacity: 1;
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
        transform: scale(1.3); }
      .hexagon-item:hover .hex-item:first-child {
        opacity: 1;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2); }
        .hexagon-item:hover .hex-item:first-child div:before,
        .hexagon-item:hover .hex-item:first-child div:after {
          height: 5px; }
      .hexagon-item:hover .hex-item div::before,
      .hexagon-item:hover .hex-item div::after {
        background-color: #ff0037; }
      .hexagon-item:hover .hex-content svg {
        -webkit-transform: scale(0.97);
        -moz-transform: scale(0.97);
        -ms-transform: scale(0.97);
        -o-transform: scale(0.97);
        transform: scale(0.97); }
  
  .page-home .hexagon-item:nth-last-child(1),
  .page-home .hexagon-item:nth-last-child(2),
  .page-home .hexagon-item:nth-last-child(3) {
    -webkit-transform: rotate(30deg) translate(87px, -80px);
    -moz-transform: rotate(30deg) translate(87px, -80px);
    -ms-transform: rotate(30deg) translate(87px, -80px);
    -o-transform: rotate(30deg) translate(87px, -80px);
    transform: rotate(30deg) translate(87px, -80px); }
  
  .hex-item {
    position: absolute;
    top: 0;
    left: 50px;
    width: 100px;
    height: 173.20508px; }
    .hex-item:first-child {
      z-index: 0;
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -o-transform: scale(0.9);
      transform: scale(0.9);
      -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
    .hex-item:last-child {
      transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
      z-index: 1; }
    .hex-item div {
      box-sizing: border-box;
      position: absolute;
      top: 0;
      width: 100px;
      height: 173.20508px;
      -webkit-transform-origin: center center;
      -moz-transform-origin: center center;
      -ms-transform-origin: center center;
      -o-transform-origin: center center;
      transform-origin: center center; }
      .hex-item div::before, .hex-item div::after {
        background: linear-gradient(135deg, #3b3e5a 0%, #1E1F26 100%);
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
        -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
        -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
        transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
      .hex-item div:before {
        top: 0; }
      .hex-item div:after {
        bottom: 0; }
      .hex-item div:nth-child(1) {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg); }
      .hex-item div:nth-child(2) {
        -webkit-transform: rotate(60deg);
        -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        -o-transform: rotate(60deg);
        transform: rotate(60deg); }
      .hex-item div:nth-child(3) {
        -webkit-transform: rotate(120deg);
        -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
        -o-transform: rotate(120deg);
        transform: rotate(120deg); }
  
  .hex-content {
    color: #fff;
    display: block;
    height: 180px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    transform: rotate(-30deg);
    width: 156px; }
    .hex-content .hex-content-inner {
      left: 50%;
      margin: -3px 0 0 2px;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .hex-content .icon {
      display: block;
      font-size: 36px;
      line-height: 30px;
      margin-bottom: 11px; }
    .hex-content .title {
      display: block;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 24px;
      text-transform: uppercase; }
    .hex-content svg {
      left: -7px;
      position: absolute;
      top: -13px;
      transform: scale(0.87);
      z-index: -1;
      -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
      -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
      -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
      transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
    .hex-content:hover {
      color: #fff; }
  
  .page-home .hexagon-item:nth-last-child(1), .page-home .hexagon-item:nth-last-child(2), .page-home .hexagon-item:nth-last-child(3) {
      -webkit-transform: rotate(30deg) translate(87px, -80px);
      -moz-transform: rotate(30deg) translate(87px, -80px);
      -ms-transform: rotate(30deg) translate(87px, -80px);
      -o-transform: rotate(30deg) translate(87px, -80px);
      transform: rotate(30deg) translate(87px, -80px);
  }

  
  @media (min-width: 1200px)
  {
  .col-lg-offset-2 {
      margin-left: 16.66666667%;
  }
  }
  
  @media (min-width: 1200px)
  {
  .col-lg-8 {
      width: 66.66666667%;
  }
  }
  
  .hexagon-item:first-child {
      margin-left: 0;
  }
  
  .pt-table.desktop-768 .pt-tablecell {
      padding-bottom: 110px;
      padding-top: 60px;
  }
  
  
  
  .hexagon-item:hover .icon i
  {
    color:#ff0037;
    transition:0.6s;
    
  }
  
  
  .hexagon-item:hover .title
  {
    -webkit-animation: focus-in-contract 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
              animation: focus-in-contract 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  /***************************/
  
  @-webkit-keyframes focus-in-contract {
    0% {
      letter-spacing: 1em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-contract {
    0% {
      letter-spacing: 1em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  
  
  
  
  @media only screen and (max-width: 767px)
  {
  .hexagon-item {
      float: none;
      margin: 0 auto 50px;
  }
    .hexagon-item:first-child {
      margin-left: auto;
  }
    
    .page-home .hexagon-item:nth-last-child(1), .page-home .hexagon-item:nth-last-child(2), .page-home .hexagon-item:nth-last-child(3) {
      -webkit-transform: rotate(30deg) translate(0px, 0px);
      -moz-transform: rotate(30deg) translate(0px, 0px);
      -ms-transform: rotate(30deg) translate(0px, 0px);
      -o-transform: rotate(30deg) translate(0px, 0px);
      transform: rotate(30deg) translate(0px, 0px);
  }
    
  }


  /* Center the entire hexagon menu container */
  .intro-screen{
    background: linear-gradient(135deg, #3b3e5a 0%, #1E1F26 100%);
  }

  
  
  