
    <div class="intro-screen">
         <div class="pt-table desktop-768">
            <div class="pt-tablecell page-home relative">
        
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
        
                                        <div class="hexagon-menu clear">
                                            <div class="hexagon-item">
                                                <div class="hex-item">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                                <div class="hex-item">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                                <a  class="hex-content">
                                                    <span class="hex-content-inner">
                                                        <span class="icon">
                                                            <i class="fa fa-universal-access" (click)="sendPremmadeData('I want you to say community to connect and seek new oppurtunties in 50 words or less ')" data-bs-toggle="modal" data-bs-target="#staticBackdrop" ></i>
                                                        </span>
                                                        <span class="title" (click)="sendPremmadeData('I want you to say community to connect and seek new oppurtunties in 50 words or less ')" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Community</span>
                                                    </span>
                                                    <svg (click)="sendPremmadeData('I want you to say community  connect and seek new oppurtunties in 50 words or less')" data-bs-toggle="modal" data-bs-target="#staticBackdrop" viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                                </a>
                                            </div>
                                            <div class="hexagon-item">
                                                <div class="hex-item">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                                <div class="hex-item">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                                <a  class="hex-content">
                                                    <span class="hex-content-inner">
                                                        <span class="icon">
                                                            <i class="fa fa-bullseye"
                                                               (click)="sendPremmadeData('I want you to say:Scams. Learn to spot fraud, protect yourself, and avoid suspicious offers, in 50 words or less.')"
                                                               data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                            </i>
                                                          </span>
                                                          <span class="title"
                                                               (click)="sendPremmadeData('I want you to say: Scams. Learn to spot fraud, protect yourself, and avoid suspicious offers, in 50 words or less.')"
                                                               data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                            Scams
                                                          </span>
                                                        </span>
                                                        <svg (click)="sendPremmadeData('I want you to say: Scams. Learn to spot fraud, protect yourself, and avoid suspicious offers, in 50 words or less.')"
                                                             data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                                             viewBox="0 0 173.20508075688772 200"
                                                             height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                                          <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                                                                fill="#1e2530">
                                                          </path>
                                                        </svg>
                                                </a>
                                            </div>
                                            <div class="hexagon-item">
                                                <div class="hex-item">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                                <div class="hex-item">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                                <a  class="hex-content">
                                                    <span class="hex-content-inner">
                                                        <span class="icon">
                                                            <i class="fa fa-credit-card"
                                                               (click)="sendPremmadeData('I want you to say: Credit. Build, maintain, and understand credit to reach financial goals, in 50 words or less.')"
                                                               data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                            </i>
                                                          </span>
                                                          <span class="title"
                                                               (click)="sendPremmadeData('I want you to say: Credit. Build, maintain, and understand credit to reach financial goals, in 50 words or less.')"
                                                               data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                            Credit
                                                          </span>
                                                        </span>
                                                        <svg (click)="sendPremmadeData('I want you to say: Credit. Build, maintain, and understand credit to reach financial goals, in 50 words or less.')"
                                                             data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                                             viewBox="0 0 173.20508075688772 200"
                                                             height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                                          <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                                                                fill="#1e2530">
                                                          </path>
                                                        </svg>
                                                </a>    
                                            </div>
                                            <div class="hexagon-item">
                                                <div class="hex-item">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                                <div class="hex-item">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                                <a  class="hex-content">
                                                    <span class="hex-content-inner">
                                                        <span class="icon">
                                                            <i class="fa fa-graduation-cap"
                                                               (click)="sendPremmadeData('I want you to say: Scholarships. Find and apply for financial awards to help fund your education, in 50 words or less.')"
                                                               data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                            </i>
                                                          </span>
                                                          <span class="title"
                                                               (click)="sendPremmadeData('I want you to say: Scholarships. Find and apply for financial awards to help fund your education, in 50 words or less.')"
                                                               data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                            Scholarships
                                                          </span>
                                                        </span>
                                                        <svg (click)="sendPremmadeData('I want you to say: Scholarships. Find and apply for financial awards to help fund your education, in 50 words or less.')"
                                                             data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                                             viewBox="0 0 173.20508075688772 200"
                                                             height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                                          <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                                                                fill="#1e2530">
                                                          </path>
                                                        </svg>
                                                </a>
                                            </div>
                                            <div class="hexagon-item">
                                                <div class="hex-item">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                                <div class="hex-item">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                                <a  class="hex-content">
                                                    <span class="hex-content-inner">
                                                        <span class="icon">
                                                            <i class="fa fa-money"
                                                               (click)="sendPremmadeData('I want you to say: Taxes. Understand tax essentials and simplify filing to keep more of your money, in 50 words or less.')"
                                                               data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                            </i>
                                                          </span>
                                                          <span class="title"
                                                               (click)="sendPremmadeData('I want you to say: Taxes. Understand tax essentials and simplify filing to keep more of your money, in 50 words or less.')"
                                                               data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                            Taxes
                                                          </span>
                                                        </span>
                                                        <svg (click)="sendPremmadeData('I want you to say:Taxes. Understand tax essentials and simplify filing to keep more of your money, in 50 words or less.')"
                                                             data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                                             viewBox="0 0 173.20508075688772 200"
                                                             height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                                          <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                                                                fill="#1e2530">
                                                          </path>
                                                        </svg>
                                                </a>
                                            </div>
                                            <div class="hexagon-item">
                                                <div class="hex-item">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                                <div class="hex-item">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                                <a  class="hex-content">
                                                    <span class="hex-content-inner">
                                                        <span class="icon">
                                                            <i class="fa fa-clipboard"
                                                               (click)="sendPremmadeData('I want you to say:Loans. Compare options, manage repayment, and borrow responsibly for your goals, in 50 words or less.')"
                                                               data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                            </i>
                                                          </span>
                                                          <span class="title"
                                                               (click)="sendPremmadeData('I want you to say: Loans. Compare options, manage repayment, and borrow responsibly for your goals, in 50 words or less.')"
                                                               data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                            Loans
                                                          </span>
                                                        </span>
                                                        <svg (click)="sendPremmadeData('I want you to say: Loans. Compare options, manage repayment, and borrow responsibly for your goals, in 50 words or less.')"
                                                             data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                                             viewBox="0 0 173.20508075688772 200"
                                                             height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                                          <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                                                                fill="#1e2530">
                                                          </path>
                                                        </svg>
                                                </a>
                                            </div>
                                            <div class="hexagon-item">
                                                <div class="hex-item">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                                <div class="hex-item">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                                <a  class="hex-content">
                                                    <span class="hex-content-inner">
                                                        <span class="icon">
                                                            <i class="fa fa-check"></i>
                                                        </span>
                                                        <span class="title"(click)="navigateToHome()">Enter</span>
                                                    </span>
                                                    <svg class="title"(click)="navigateToHome()" viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    </div>
    <div class="modal fade .modal-sm" id="staticBackdrop" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div>
            <div class="modal-body">
    
                      <div class="popup-content">
                    <div class="speech-bubble-container">
                        <div speech-bubble pbottom aright style="--bbColor:#744b9f">
                            <ng-container *ngIf="loading">
                                <p class="title speech-bubble-text">thinking...</p>
                            </ng-container>
                            <div class="title speech-bubble-text">{{ premadResponse }}</div>
                        </div>
                    </div>
                    <div class="image-container">
                        <img src="assets/little-g-2.png" alt="Gemini" class="greeting-image-2" data-bs-dismiss="modal">
                    </div>
            </div>
          </div>
        </div>
    </div>
    </div>
<div class="modal fade .modal-sm" id="initialTerrence" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div>
        <div class="modal-body">

                  <div class="popup-content">
                <div class="speech-bubble-container">
                    <div speech-bubble pbottom aright style="--bbColor:#744b9f">
                        <ng-container *ngIf="loading">
                            <p class="title speech-bubble-text">creating greatness...</p>
                        </ng-container>
                        <div class="title speech-bubble-text">{{ premadResponse }}</div>
                    </div>
                </div>
                <div class="image-container">
                    <img src="assets/little-g.png" alt="Gemini" class="greeting-image" data-bs-dismiss="modal">
                </div>
        </div>
      </div>
    </div>
</div>
</div>